.primer_div{
	height: 150px;
	width: 100%;
	background-size:cover;
	border-radius: 10px
}

.div_madre{
	height: 650px;
	width: 100%;
	background: url(img1.jpg);
	background-size:cover;
	border-radius: 10px
}

.super_titulo{
	font-size: 35px;
	color: #01A9DB;
	float:left;
	padding: 25px;

}