<!DOCTYPE html>
<html>
<head lang="es">
	<title>FUGAX</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<meta charset="utf-8">
</head>
<body>

		
	
<div class="primer_div">
			<p class="super_titulo">FUGAX</p>
</div>
<br>
<br>
<br>
<div class="contenedor">
	<div class="div_info">
		<p class="explicacion"> ¿Eres timido? <br> ¿Te cuesta relacionarte con personas? <br> 
		¿Quieres conocer a personas con sus mismos intereses? <br>
		Esta pagina te ayudara con todo esto. <br> ¡Vamos, animate! <br>  </p>
	</div>

	<div class="div_registro">
			<h1> Login </h1>
	<form method="POST">
	{{ form }}
	<button type="submit"> Acceder </button>
	</form>
	</div>
</div>

</body>
</html>